/*.apk
*.ap_
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
bin/
gen/

# Eclipse project files
.classpath
.project
.metadata

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

#Android Studio
out/
build/
